apes-shepherd @ git+https://github.com/apes-suite/apes-shepherd.git@765a8a65d4f981f122ecd592a41838a9dcdecd21
contourpy==1.3.0
cycler==0.12.1
fonttools==4.57.0
gleaner @ git+https://github.com/apes-suite/gleaner.git@032df13158be2e924a37a9146d16a46a5adcd574
importlib-resources==6.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
numpy==2.0.2
packaging==25.0
peon-apes @ git+https://github.com/apes-suite/peon-apes.git@63cc1b49cfdf9cbe75b879dd6bda434990d510c7
pillow==11.2.1
pyparsing==3.2.3
pyratemp==0.3.2
PySys==2.2
python-dateutil==2.9.0.post0
six==1.17.0
zipp==3.21.0
