apes-shepherd @ git+https://github.com/apes-suite/apes-shepherd.git@b3e298284bf32e9e900c8122a8151f70b247ba6c
beautifulsoup4==4.13.4
contourpy==1.3.0
cycler==0.12.1
fonttools==4.61.0
FORD==7.0.13
gleaner @ git+https://github.com/apes-suite/gleaner.git@61e1887739dc2c01c7ed50adb34abda6ab5d0b3b
graphviz==0.20.3
importlib_metadata==8.7.0
importlib_resources==6.5.2
Jinja2==3.1.6
kiwisolver==1.4.7
lupa==2.7
Markdown==3.4.4
markdown-include==0.7.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
numpy==2.0.2
packaging==26.0
pandas==3.0.2
pcpp==1.30
peon-apes @ git+https://github.com/apes-suite/peon-apes.git@b575eb4ede2f2e5268b47912a79549e5d84daa69
pillow==12.2.0
Pygments==2.20.0
pyparsing==3.2.3
pyratemp==0.3.2
PySys==2.2
python-dateutil==2.9.0.post0
python-markdown-math==0.9
rich==14.0.0
six==1.17.0
soupsieve==2.7
tomli==2.2.1
toposort==1.7
tqdm==4.67.1
typing_extensions==4.13.2
zipp==3.21.0
